{% extends 'base.html' %}

{% block content %}
    <div>
        <div class="float-left">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <table class="table table-lg table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
            {% for book in book_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
