{% extends 'base.html' %}

{% block content %}
    <div>
        <div class="float-left">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <table class="table table-lg table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for author in author_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ author.first_name }}</td>
                    <td>{{ author.last_name }}</td>
                    <td><a href="{% url 'author_detail' author.id %}" class="btn btn-primary">View Books</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
